 @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300"); 
/* base style */
html {
  font-size: 62.5%;
}
body{
 font-size: 1.5em;
 line-height:  1.6;
 font-weight: 400;
 font-family: 'open sans', Arial, Helvetica, sans-serif;
}

/* grid */

.column, .columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

  .column, .columns{
    margin-left: 4%;

  }
 
  .one.column, .one.columns {
    width: 4,66666666667%;
  }
  .two.columns {
    width: 13,333333333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30,6666666667%;
  }

h1,h2,h4 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: 0.5rem;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: 0.5rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}



/* links */
a {
  color: #1eaedb;
}
a:hover {
  color: #0fa0ce;
  text-decoration: none!important;
}
/* header section */
header{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  width: 100%;
  height: 100vh;
  background: #e55d87;
  background: -moz-linear-gradient(-45deg, #EE7752 0%, #e55d87 50%, #5fc3e4 100%);
  background: -webkit-linear-gradient(-45deg, #EE7752 0%, #e55d87 50%, #5fc3e4 100%);
  background: linear-gradient( 135deg,#EE7752 0%, #e55d87 50%, #5fc3e4 100%);
  animation: Gradient 7s ease infinite;
  background-size: 400% 400%;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= "#e55d87", endColorstr="#5fc3e4", GradientType=1 );
}

@keyframes Gradient {
  0% {
      background-position: 0% 50%
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0% 50%
  }
}
.title {
  -webkit-align-self: center; 
  -ms-flex-item-align: center;
  align-items: center;
  padding: 2rem;
  max-width: 960px;
  text-align: center;
  position: absolute;

}
.title .smallsep {
  background: #fff;
  height: 2px;
  width: 70px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.title h1 {
  font-size: 80px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 0.85;
  margin-bottom: 28px;
  margin: 0;
  padding: 0;
  color: #ffffff;
}
 .title h2 {
   color: #ffffff;
   font-size: 16px;
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 5px;
   margin-top: 50px;
 }
  
 .title p {
   max-width: 600px;
   margin: 0 auto;
   line-height: 150%;
 }
 
 .title .icon {
   color: #ffffff;
   font-size: 50px;
 }

 
 

/* NAVBAR */

li .nav-link {
color: teal;
font-size: 18px;

}
.nav-link:hover{
  color: #d13c94;
}

.navbar{
  opacity: 0.9;
  box-shadow: 1px 1px 4px #9ea3a5;
 
}

@media only screen and (max-width : 768px) {
  .nav-link {
    text-align: center !important;
   }
  }
#icon-home{
  color: teal;
  font-size: 2.5rem;
  transition: 1s;
  text-shadow: 1px 1px 4px #9ea3a5;
}


#icon-home:hover{
  color: #d13c94;
  transform: scale(1.050);
}

#icon-about{
  color: teal;
  font-size: 2.5rem;
  transition: 1s;
  text-shadow: 1px 1px 4px #9ea3a5;
}

#icon-about:hover{
  color: #d13c94;
  transform: scale(1.050);
}

#icon-comp{
  color: teal;
  font-size: 2.5rem;
  transition: 1s;
  text-shadow: 1px 1px 4px #9ea3a5;
}

#icon-comp:hover{
  color: #d13c94;
  transform: scale(1.050);
}

#icon-projet{
  color: teal;
  font-size: 2.5rem;
  transition: 1s;
  text-shadow: 1px 1px 4px #9ea3a5;
}

#icon-projet:hover{
  color: #d13c94;
  transform: scale(1.050);
}

#icon-contact{
  color: teal;
  font-size: 2.5rem;
  transition: 1s;
  text-shadow: 1px 1px 4px #9ea3a5;
}

#icon-contact:hover{
  color: #d13c94;
  transform: scale(1.050);
}
/* Title */

#flake{
  color: white;
  font-size: 6rem;
  transition: 1s;
  text-shadow: 1px 1px 4px #9ea3a5;
}

#flake:hover{
  color: #5fc3e4;
  transform: scale(1.050);
}

/* about section */
#aboutme {
  padding: 100px 0 50px 0;

}


/*debut compétences */
#compétences{
  padding: 100px 0 100px 0;
  background: #f5f5f5;
}

.hr-comp{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgb(238, 119, 82, 0) , rgb(228, 92, 135, 0.75), rgb(95, 195, 228, 0) );
}
.progressBar{
  margin-bottom: 26px;
  margin-bottom: 1.66rem;
}
.progressBar h4 {
  font-size: 16px;
  text-transform: none;
  margin-bottom: 7px;
  margin-bottom: .33em;
}
.progressBarContainer {
  width: 100%;
  height: 15px;
  background: #e1e1e1;
  overflow: hidden;
  
}
 .progressBarValue {
   height: 15px;
   float: left;
    background: #e55d87;  
    background: -moz-linear-gradient(-45deg, #EE7752 0%, #e55d87 50%, #5fc3e4 100%);
    background: -webkit-linear-gradient(-45deg, #EE7752 0%, #e55d87 50%, #5fc3e4 100%);
    background: linear-gradient(135deg,  #EE7752 0%, #e55d87 50%, #5fc3e4 100%);
  
 }

 .bar{
  margin-top: 17px;
 }
 
.value-50 {
  width: 50%;
  color: white;
  text-align: right;
  font-size: 10px;
 font-weight: 600;
}

.value-60 {
  width: 60%;
  color: white;
  text-align: right;
  font-size: 10px;
 font-weight: 600;

}
.value-65 {
  width: 65%;
  color: white;
  text-align: right;
  font-size: 10px;
 font-weight: 600;

}

.value-80 {
  width: 80%;
  color: white;
  text-align: right;
  font-size: 10px;
 font-weight: 600;
}

.value-40 {
  width: 40%;
  color: white;
  text-align: right;
  font-size: 10px;
 font-weight: 600;
}
/* FIN COMPÉTENCES */

/* DEBUT PROJET */
#projet{
  padding: 100px 0 100px 0;
}
h1.title-project {
  margin-top: 85px;
}


#img-project {
  font-size: 15rem;
  color: #8B95D0;
  transition: 1.5s ease;
  text-shadow: 1px 1px 8px #9ea3a5;
  backface-visibility: hidden;
}

.container-project {
  position: relative;
  width: 50%;
}

.middle {
  transition: 1s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-project:hover .middle{
opacity: 1;
}

.text {
   background-color:rgba(238, 119, 82, 0.7);
 
  border-radius: 50%;
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 13px;
  padding: 16px 32px;
  font-weight:  700;
  text-transform: uppercase;
  font-family:'open sans', Arial, Helvetica, sans-serif;
}

#img-project:hover{
  color: #d13c94;
  transform: scale(1.070);
  text-shadow: 1px 1px 9px #9ea3a5;

}

#img-container{
  margin-bottom: 90px;
}
/* FIN PROJET */


/* DEBUT CONTACT */

#contact-title{
  color: white;
  text-align: center;
}
hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.fab {
  color: white;
  font-size: 4rem;
  padding: 20px;
  text-shadow: 1px 1px 5px rgb(41, 41, 41);
  margin-top: 35px;
  
}
.fab:hover {
  color: #7BA8DD;
}

.contact-footer{
  text-align: center;
}

#cv{
  color: white;
  font-size: 4rem;
  padding: 20px;
  text-shadow: 1px 1px 5px rgb(41, 41, 41);
  margin-top: 35px
}
#cv:hover{
  color: #7BA8DD;
}

/* FIN CONTACT */
footer{
  min-height: 120px;
  padding: 40px 0 40px 0;
  background: #e55d87;
  background: -moz-linear-gradient(-45deg, #EE7752 0%, #e55d87 50%, #5fc3e4 100%);
  background: -webkit-linear-gradient(-45deg, #EE7752 0%, #e55d87 50%, #5fc3e4 100%);
  background: linear-gradient(135deg, #EE7752 0%, #e55d87 50%, #5fc3e4 100%);
  animation: Gradient 7s ease infinite;
  background-size: 400% 400%;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#e55d87",
  endColorstr="#5fc3e4", GradientType=1 );
  box-sizing: border-box;
  display: flex;
  margin-top: -1px;
  align-items: flex-end;
}
footer p {
  color: #FFFFFF;
  margin: 20px 0 0 0;
}
.socialIcons {
  font-size: 34px;
  color: rgba (255, 255, 255, 0.7);
}

/* spacing */
 button, .button{
  margin-bottom: 1rem;
}
input, textarea, select, fieldset{
  margin-bottom: 1.5rem;
}
 form{
  margin-bottom: 2.5rem;
} 

/* misc */
.icon{
  padding-right: 10px;
  color: #e55d87;
}
.block{
  width: 70px;
  height: 2px;
  background: #e55d87;
  background: -moz-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
  background: -webkit-linear-gradient(-45deg, #e55d87 0%, #5fc3e4 100%);
  background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
  margin-bottom: 50px;
}
/* Pour que tout le site soit responsive */

@media only screen and (max-width : 575px) {
  .title h1 {
    font-size: 40px;
  }
  .title h2 {
    font-size: 14px;
  }
  h1{
    font-size: 2rem;
  }
  #img-project{
    font-size: 10rem;
  }
  p{
    white-space: pre-line;
  }
  }